h1 {
  text-align: center;
  color: azure;
}
body {
  background-image: url(./photo-1589496933738-f5c27bc146e3.avif);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}
.container {
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left,
.middle,
.right {
  height: auto;
  padding: 10px;
  border: 2px solid black;
  width: 25%;
  /* height: 200px; */
  background-color: rgb(239, 239, 239);

  border-radius: 10px;
}
.left input {
  width: 80%;
}
.left {
  transform: rotate(20deg);
}
.right {
  transform: rotate(140deg);
}
.left:hover,
.right:hover {
  transform: rotate(0deg);
}
.left h2 {
  border-bottom: 5px solid black;
  /* padding: 10px; */
  text-align: right;
}
.left:hover h2 {
  text-align: center;
}
.right h2 {
  border-bottom: 5px solid black;
  /* padding: 10px; */
  text-align: right;
}
.right:hover h2 {
  text-align: center;
}
.middle h2 {
  /* padding: 10px; */
  text-align: center;
  border-bottom: 5px solid rgb(239, 239, 239);
}
.middle:hover h2 {
  border-bottom: 5px solid black ;
}
.middle input,
.right input {
  width: 60%;
  border: 2px solid rgb(239, 239, 239);
  background-color: rgb(239, 239, 239);
  padding: 2px;
  margin-right: 2px;
}
.task-element {
  padding: 5px;
  border-bottom: 2px solid grey;
}

.right input {
  text-decoration: line-through;
}
button {
  margin: 2px;
  width: 30px;
  height: 30px;
  font-weight: bolder;
  border: none;
  background-color: rgb(239, 239, 239);
  font-size: large;
}
button:hover {
  background-color: rgb(186, 183, 183);
}
.check {
  border: none;
  
}

